KEYCLOAK_ISSUER_URI=http://localhost:9090/realms/marketplace
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=marketplace
RABBITMQ_PASSWORD=marketplace
REDIS_HOST=localhost
REDIS_PORT=6379

USER_PROFILE_DB_URL=jdbc:postgresql://localhost:5432/user_profile_db
USER_PROFILE_DB_USERNAME=user_profile_user
USER_PROFILE_DB_PASSWORD=user_profile_pass

CATALOG_DB_URL=jdbc:postgresql://localhost:5432/catalog_db
CATALOG_DB_USERNAME=catalog_user
CATALOG_DB_PASSWORD=catalog_pass

INVENTORY_DB_URL=jdbc:postgresql://localhost:5432/inventory_db
INVENTORY_DB_USERNAME=inventory_user
INVENTORY_DB_PASSWORD=inventory_pass

CART_DB_URL=jdbc:postgresql://localhost:5432/cart_db
CART_DB_USERNAME=cart_user
CART_DB_PASSWORD=cart_pass

ORDER_DB_URL=jdbc:postgresql://localhost:5432/order_db
ORDER_DB_USERNAME=order_user
ORDER_DB_PASSWORD=order_pass

PAYMENT_DB_URL=jdbc:postgresql://localhost:5432/payment_db
PAYMENT_DB_USERNAME=payment_user
PAYMENT_DB_PASSWORD=payment_pass

NOTIFICATION_DB_URL=jdbc:postgresql://localhost:5432/notification_db
NOTIFICATION_DB_USERNAME=notification_user
NOTIFICATION_DB_PASSWORD=notification_pass
